
html, body {
  height: 100%;
  background-color: #1a1a1d;
  color: white;
  margin: 0;
  padding: 0;
}

.fondo-oscuro {
  background-color: #1a1a1d;
  min-height: 100vh; 
  color: white;
}

.bg-dark-2 {
  background-color: #2d2d30;
}

.btn-acento {
  background-color: hsl(259, 90%, 50%);
  color: white;
  border: none;
}

.btn-acento:hover {
  background-color: hsl(259, 90%, 40%);
}

.texto-acento {
  color: #00c9ff;
}
